<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header>
    <div class="header">
      <div class="logo">
          <a href="index.html"><img src="./assets/images/logo.png" alt="logo"></a>
      </div>
      <ul class="menu">
              <li><a href="">系列鏡框</a></li>
              <li><a href="#">門市據點</a></li>
              <li><a href="#">部落格</a></li>
              <li><a href="faq.html">常見問題</a></li>
      </ul>
  </div>
  </header>

  <%- contents %>

  <footer>
    <div class="footer">
      <div class="container">
          <div class="footerStart">
              <div class="footerLeft">
                  <ul class="Submenu">
                      <li><a href="index.html">首頁</a></li>
                      <li><a href="#">系列鏡框</a></li>
                      <li><a href="#">門市據點</a></li>
                      <li><a href="#">部落格</a></li>
                      <li><a href="faq.html">常見問題</a></li>
                  </ul>
                  <ul class="contact">
                      <li class="phone"><img src="./assets/images/icon-phone.svg" alt="icon-phone">
                          <a href="">0800-000-000</a></li>
                      <li class="mail"><img src="./assets/images/icon-mail.svg" alt="icon-mail">
                          <a href="">glasses@business.com</a></li>
                  </ul>
              </div>
              <div class="footerRight">
                  <ul class="socialIcon">
                      <li><img src="./assets/images/icon-fb.svg" alt="icon-fb"></li>
                      <li><img src="./assets/images/icon-ig.svg" alt="icon-ig"></li>
                      <li><img src="./assets/images/icon-line.svg" alt="icon-line"></li>
                  </ul>
              </div>
          </div>
          <div class="footerEnd">
              <div class="copyright">
                  Copyright © 2020 Glasses.All rights reserved.
              </div>
              <div class="law">
                  <a href="#">隱私權政策</a>
                  <a href="#">服務條款</a>
              </div>
          </div>

      </div>

  </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
