.container .faq {
    h2 {
        font-size: 48px;
        line-height: 80px;
        margin-top: 96px;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        font-weight: bold;

        @include pad {
            margin-top: 60px;
            border-left: 4px solid #9F1213;
        }

        @include mob {
            font-size: 28px;
            margin-top: 28px;
            border-left: 4px solid #9F1213;
            padding-left: 8px;
        }
    }

    h3 {
        margin-top: 60px;
        font-size: 32px;
        line-height: 63px;
        font-weight: bold;

        @include pad {
            margin-top: 40px;
        }

        @include mob {
            margin-top: 24px;
            font-size: 20px;
            font-weight: normal;
        }
    }
}

.container .faq .main {
    ul {
        margin-top: 4px;
        margin-bottom: 160px;

        @include pad {
            margin-top: 32px;
            margin-bottom: 96px;
        }

        @include mob {
            margin-top: 24px;
            margin-bottom: 48px;
        }

        li {
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            margin-top: 32px;
            margin-bottom: 16px;
            @include pad{
                margin-top: 24px;
            }
            @include mob{
                font-size: 16px;
                line-height: 24px;
                margin-top: 20px;
                margin-bottom: 8px;
            }
        }

        p {
            padding-left: 95px;
            font-size: 16px;
            line-height: 24px;
            @include pad{
                padding-left: 60px;
            }
            @include mob{
                padding-left: 0;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}