.footer {
  background: #aa0601;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding-top: 32px;

    .footerStart {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      color: white;
      border-bottom: 1px solid #FFFFFF;
      padding-bottom: 24px;
    }

    .footerEnd {
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
      padding-bottom: 39px;
      @include pad{
        padding-top: 24px;
      }
      @include mob{
        padding-top: 16px;
        flex-direction: column;
      }
    }
  }
}

.footer .container .footerStart .footerLeft .Submenu {
  display: flex;

  li {
    a {
      display: flex;
      padding-top: 12px;
      padding-bottom: 12px;
      text-decoration: none;
      color: white;
      margin-right: 48px;

      @include pad {
        margin-right: 40px;
      }
    }
  }

  @include mob {
    display: none;
  }
}

.footer .container .footerStart .footerLeft .contact {
  margin-top: 36px;

  li {
    display: flex;

    img {
      padding: 6px;
      margin-right: 16px;
      display: block;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 36px;
      line-height: 54px;

      @include pad {
        font-size: 20px;
        line-height: 30px;
      }

      @include mob {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}

.footer .container .footerStart .footerRight .socialIcon {
  display: flex;

  li {
    align-items: flex-start;

    img {
      margin-left: 32px;
      padding-top: 12px;
    }
  }
}


.footer .container .footerEnd {
  .law {
    a {
      text-decoration: none;
      color: white;
      margin-left: 48px;
    }
  }

}