.banner {
    background-image: url('https://raw.githubusercontent.com/zhfino/gulpW3W4/main/app/assets/images/banner.png');
    height: 840px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    background-size: cover;

    @include mob {
        background-image: url('https://raw.githubusercontent.com/zhfino/gulpW3W4/main/app/assets/images/banner-sm.png');
        height: 394px;
        width: 375px;
        background-repeat: no-repeat;
    }

    .container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        h2 {
            max-width: 1100px;
            display: block;
            font-size: 36px;
            line-height: 54px;
            color: #650300;

            @include pad {
                font-size: 20px;
                line-height: 30px;
            }

            @include mob {
                font-size: 16px;
            }
        }

        h1 {
            max-width: 1100px;
            display: block;
            font-size: 64px;
            line-height: 96px;
            color: #650300;
            font-weight: bold;

            @include pad {
                font-size: 48px;
                line-height: 72px;
            }

            @include mob {
                font-size: 32px;
                line-height: 72px;
            }
        }

    }
}

.slogan {
    background: #AA06010D;

    .container {

        h2 {
            font-size: 48px;
            line-height: 72px;
            font-weight: bold;
            color: #650300;
            padding-top: 60px;
            text-align: center;

            @include pad {
                font-size: 32px;
                line-height: 48px;
            }

            @include mob {
                font-size: 24px;
                line-height: 48px;
            }
        }

        .type {
            margin-top: 52.5px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 80px;

            @include pad {
                flex-wrap: wrap;
                padding-bottom: 56px;
            }

            @include mob {
                padding-bottom: 40px;
            }

        }
    }
}

.slogan .container .type li {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include pad {
        width: 50%;
    }

    @include mob {
        width: 100%;
    }

    img {
        width: 83.33px;
        height: 83.33px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24.33px;
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        color: #650300;
        width: 255px;

        p {
            margin-top: 8px;
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
            color: #000000;
            padding-bottom: 25px;
        }
    }
}

.productType {
    text-align: center;
    padding-bottom: 80px;

    @include pad {
        padding-bottom: 56px;
    }

    @include mob {
        padding-bottom: 40px;
    }

    h2 {
        font-size: 48px;
        line-height: 72px;
        font-weight: bold;
        color: #650300;
        padding-top: 60px;
        padding-bottom: 8px;


        @include pad {
            font-size: 32px;
            line-height: 48px;
            padding-top: 40px;
            padding-bottom: 24px;
        }

        @include mob {
            padding-top: 32px;
            padding-bottom: 20px;
            font-size: 24px;
            line-height: 48px;
        }
    }


    .productBoxL {
        display: flex;

        @include mob {
            margin-bottom: 8px;
        }

        li {
            padding-top: 32px;
            display: flex;
            align-items: center;
            margin-right: 30px;

            @include pad {
                padding-top: 8px;
            }

            @include mob {
                margin-right: 0px;
            }

        }
    }


    .productBoxR {
        display: flex;
        flex-direction: row-reverse;

        @include pad {
            flex-direction: row;
        }

        @include mob {
            margin-bottom: 8px;
        }

        li {
            padding-top: 32px;
            display: flex;
            align-items: center;

            @include pad {
                margin-right: 30px;
                padding-top: 8px;
            }

            @include mob {
                margin-right: 0;
            }

            a {
                margin-right: 30px;

                @include pad {
                    margin-right: 0;
                }
            }

        }
    }

    .productImg {
        img {
            display: block;
            width: 635px;
            height: 320px;

            @include pad {
                width: 390px;
                height: 168px;
            }

            @include mob {
                display: none;
            }
        }
    }

    .text_icon {
        img {
            width: 44px;
            height: 44px;
            margin-right: 10px;
        }

        a {
            font-size: 48px;
            line-height: 72px;
            color: #AA0601;
            font-weight: bold;
            text-decoration: none;

            @include pad {
                font-size: 28px;
            }

            @include mob {
                font-size: 28px;
            }
        }

        @include mob {
            width: 345px;
            display: flex;
            justify-content: center;
        }

    }



    .optical {
        @include mob {
            width: 345px;
            height: 134px;
            background: url("https://raw.githubusercontent.com/zhfino/gulpW3W4/main/app/assets/images/product-1.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

    }

    .sunglasses {
        @include mob {
            width: 345px;
            height: 134px;
            background: url("https://raw.githubusercontent.com/zhfino/gulpW3W4/main/app/assets/images/product-2.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    .functional {
        @include mob {
            width: 345px;
            height: 134px;
            background: url("https://raw.githubusercontent.com/zhfino/gulpW3W4/main/app/assets/images/product-3.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

}

.co-brand {
    background-image: url('https://raw.githubusercontent.com/zhfino/gulpW3W4/main/app/assets/images/bg.png');
    height: 705px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    text-align: center;

    @include pad {
        background-size: cover;
        height: 452px;
    }

    @include mob {
        background-size: cover;
        height: 100%;
        // height: 719px;
    }

    h2 {
        font-size: 48px;
        line-height: 72px;
        font-weight: bold;
        padding-top: 60px;
        padding-bottom: 40px;
        color: #FFFFFF;

        @include pad {
            padding-top: 40px;
            padding-bottom: 32px;
            font-size: 32px;
            line-height: 48px;
        }

        @include mob {
            padding-top: 32px;
            padding-bottom: 20px;
            font-size: 20px;
            line-height: 48px;
        }
    }

    .brand {
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;

        @include mob {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 24px;
        }

        a {
            font-size: 72px;
            line-height: 108px;
            color: #AA0601;
            text-decoration: none;

            @include pad {
                font-size: 32px;
                line-height: 25px;
            }

        }

        .doubleA {

            background: url('https://raw.githubusercontent.com/zhfino/gulpW3W4/main/app/assets/images/product-8.png'), #ffffffab;
            background-blend-mode: screen;

        }

        .youth {

            background: url('https://raw.githubusercontent.com/zhfino/gulpW3W4/main/app/assets/images/product-9.png'), #ffffffab;
            background-blend-mode: screen;


        }

        .co-box {
            width: 540px;
            height: 455px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include pad {
                width: 330px;
                height: 278px;
                background-size: cover;
            }

            @include mob {
                width: 345px;
                height: 291px;
                margin-bottom: 16px;
            }
        }
    }
}


.recommend {
    h2 {
        text-align: center;
        font-size: 48px;
        line-height: 72px;
        color: #650300;
        font-weight: bold;
        padding-top: 60px;
        padding-bottom: 40px;

        @include pad {
            font-size: 32px;
            line-height: 48px;
            padding-top: 40px;
            padding-bottom: 32px;
        }

        @include mob {
            padding-top: 32px;
            padding-bottom: 20px;
            font-size: 20px;
            line-height: 48px;
        }
    }

    .cos_card {
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;

        @include pad {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 24px;
        }

        @include mob {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 24px;
        }

        .card {
            width: 255px;
            box-shadow: 0px 2px 6px #00000029;
            border: 1px solid #DEE2E6;
            border-radius: 4px;
            opacity: 1;

            @include pad {
                width: 330px;
                margin-bottom: 32px;
            }

            @include mob {
                width: 345px;
                margin-bottom: 16px;
            }


            img {
                display: block;
                height: 256px;

                @include pad {
                    width: 330px;
                }

                @include mob {
                    width: 345px;
                }
            }

            .re_text {
                height: 204px;
                padding-top: 16px;
                position: relative;

                .cos_name {
                    font-size: 14px;
                    line-height: 21px;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: #212529;
                    padding-bottom: 8px;
                    padding-left: 16px;
                    padding-right: 16px;
                }

                .dateType {
                    color: #707070;
                    text-align: bottom;
                    position: absolute;
                    bottom: 16px;
                }
            }

        }

    }
}

.contactUs {
    background: #AA06010D;


    h2 {
        text-align: center;
        font-size: 48px;
        line-height: 72px;
        font-weight: bold;
        padding-top: 60px;
        padding-bottom: 24px;

        @include pad {
            padding-top: 40px;
            font-size: 32px;
            line-height: 48px;
        }
        @include mob{
            padding-top: 30px;
            padding-bottom: 20px;
            font-size: 20px;
            line-height: 48px;
        }
    }

    .contactForm {
        max-width: 730px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;

        @include pad {
            max-width: 450px;
            padding-bottom: 56px;
        }
        @include mob {
            max-width: 345px;
            padding-bottom: 56px;
        }

        p {
            margin-bottom: 20px;

            @include pad {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 8px;
            }
        }

        input,
        textarea {
            background: #ffffff00;
            font-size: 20px;
            line-height: 30px;
            padding-left: 16px;
            padding-top: 14px;
            padding-bottom: 14px;
            margin-bottom: 16px;
            border-width: 1px;

            @include pad {
                font-size: 14px;
                line-height: 21px;
                padding-left: 8px;
                padding-top: 12px;
                padding-bottom: 8px;
                margin-bottom: 8px;
            }

        }

        label {
            @include pad {
                font-size: 14px;
                line-height: 21px;
            }
        }

        .formButton {
            width: 350px;
            height: 54px;
            color: #FFFFFF;
            background: #AA0601;
            border: none;
            font-size: 16px;
            line-height: 24px;
            margin: 0 auto;
            padding: 0;

            @include pad {
                width: 210px;
                height: 40px;
            }

            @include mob {
                width: 165px;
                height: 36px;
            }
        }
    }

    .formCheck {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 24px;
        border-width: 1px;

        @include pad {
            margin-bottom: 20px;
        }

        input {
            width: 24px;
            height: 24px;
            align-items: center;
            margin: 0;
        }

        label {
            padding-left: 4px;

            @include pad {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }



}